
.btn-add{

    background-color: green !important;
    padding-left: 45%;
    padding-right: 52%;
    text-align: center !important;
    outline: none;
    border: none;
   
}

.btn-add:hover{
    background-color: #6cef6c !important;
}

/*form styling*/
.add-frm{
    margin-bottom: 3%;
    text-align: left!important;
}

.btn-mod-add{
    background-color: #2699fb !important;
    border: none;
    width: 30%  !important;
}

.btn-mod-add:hover{
background-color: #68A5CF!important;
}