.container{
  text-align: center;
}

.input{
margin-left: 25%;
 text-align: center;
 width: 50%;
 padding-top: 10px;
}

input{
   
    text-align: center;
}

.btn{
  width: 18%;
    margin-left: 5px;
    margin-top: 10px;
}

.logfr{
  margin-left: 25%;
  margin-top: 12%;
  border: 1px solid grey;
  height:60vh;
 width: 50%;
}

.contlog{
  margin-top: 12%;
}

